@import url("https://fonts.googleapis.com/css2?family=Solway&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-card {
	@apply flex flex-col justify-center items-center bg-white h-screen font-sans;
}

.clip-left {
	border-radius: 0px;
	background: linear-gradient(145deg, #ffffff, #e6e6e6);
	box-shadow: 38px 38px 0px #fdd50f9a, -38px -38px 0px #ffffff;
	z-index: 1;
}

.clip-right {
	border-radius: 0px;
	background: #ffffff;
	box-shadow: -36px 36px 0px #fdd50f9a, 36px -36px 0px #ffffff;
	z-index: 2;
}

.flex-responsive {
	@apply lg:w-1/2 md:w-screen sm:w-screen;
}

.center-content {
	@apply flex flex-col justify-center items-center;
}

.drop-shadow {
	filter: drop-shadow(0.1em 0.1rem 0.1rem rgba(0, 0, 0, 0.877));
}

.hero-img {
	background: url("./images/tea-garden.jpg") center center / cover;
}

.contact-img {
	background: url("https://images.unsplash.com/photo-1579765338032-9f6b3614ff07?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80")
		center center / cover;
}
