@import url("https://fonts.googleapis.com/css2?family=Solway&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-card {
	@apply flex flex-col justify-center items-center bg-white h-screen font-sans py-3;
}

.flex-responsive {
	@apply lg:w-1/2 md:w-screen sm:w-screen;
}

.center-content {
	@apply flex flex-col justify-center items-center;
}

.drop-shadow {
	filter: drop-shadow(0.05em 0.1rem 0.25rem rgb(0, 0, 0));
}

.hero-img {
	background: url("./images/tea-garden.jpg") center center / cover;
}

.contact-img {
	background: url("https://images.unsplash.com/photo-1579765338032-9f6b3614ff07?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80")
		center center / cover;
}
