@import url("https://fonts.googleapis.com/css2?family=Solway&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

.menu-card {
	@apply flex flex-col justify-center items-center bg-white h-screen font-sans;
}

.clip-left {
	border-radius: 0px;
	background: linear-gradient(145deg, #ffffff, #e6e6e6);
	box-shadow: 38px 38px 0px #fdd50f9a, -38px -38px 0px #ffffff;
	z-index: 1;
}

.clip-right {
	border-radius: 0px;
	background: #ffffff;
	box-shadow: -36px 36px 0px #fdd50f9a, 36px -36px 0px #ffffff;
	z-index: 2;
}

.flex-responsive {
	@apply lg:w-1/2 md:w-screen sm:w-screen;
}

.center-content {
	@apply flex flex-col justify-center items-center;
}

.drop-shadow {
	filter: drop-shadow(0.1em 0.1rem 0.1rem rgba(0, 0, 0, 0.877));
}

.hero-img {
	background: url("./images/tea-garden.jpg") center center / cover;
}

.contact-img {
	background: url("https://images.unsplash.com/photo-1579765338032-9f6b3614ff07?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80")
		center center / cover;
}

.signup-image {
	background: url("https://images.unsplash.com/photo-1622977265115-cce36eb43f18?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80");
	background-repeat: no-repeat;
	background-size: cover;
}

.login-image {
	background: url("https://images.unsplash.com/photo-1593616196108-293552c072dd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80");
	background-repeat: no-repeat;
	background-size: cover;
}

.MuiTypography-h5,
.MuiTypography-subtitle1,
.MuiTypography-h3,
.MuiTypography-h4 {
	font-family: "Solway" !important;
}

#root
	> div.MuiContainer-root.MuiContainer-maxWidthLg
	> div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3
	> div
	> div
	> div.MuiCardContent-root.makeStyles-cardContent-15
	> h4 {
	font-family: "Solway" !important;
}

.MuiGrid-justify-xs-center {
	padding-bottom: 6rem !important;
}

.dropdown:focus-within .dropdown-menu {
	opacity: 1;
	transform: translate(0) scale(1);
	visibility: visible;
}

.loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #2b2a06;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
	text-align: center;
	margin: 0 auto;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.MuiIconButton-root:focus {
	outline: none !important;
}
